@font-face {
   font-family: "Abolition Test";
   src: url("fonts/Abolition Test.woff") format("woff"), url("fonts/Abolition Test.eot") format("embedded-opentype"), url("fonts/Abolition Test.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "IM FELL English Roman";
   src: url("fonts/IM FELL English Roman.woff") format("woff"), url("fonts/IM FELL English Roman.eot") format("embedded-opentype"), url("fonts/IM FELL English Roman.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Arpona SemiBold";
   src: url("fonts/Arpona SemiBold Italic.woff") format("woff"), url("fonts/Arpona SemiBold Italic.eot") format("embedded-opentype"), url("fonts/Arpona SemiBold Italic.otf") format("opentype");
   font-weight: bold;
   font-style: italic;
}
@font-face {
   font-family: "Arpona SemiBold";
   src: url("fonts/Arpona SemiBold.woff") format("woff"), url("fonts/Arpona SemiBold.eot") format("embedded-opentype"), url("fonts/Arpona SemiBold.otf") format("opentype");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Bebas Neue Bold";
   src: url("fonts/Bebas Neue Bold.woff") format("woff"), url("fonts/Bebas Neue Bold.eot") format("embedded-opentype"), url("fonts/Bebas Neue Bold.otf") format("opentype");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Bebas Neue Bold";
   src: url("fonts/BebasNeueBold.woff") format("woff"), url("fonts/BebasNeueBold.eot") format("embedded-opentype"), url("fonts/BebasNeueBold.otf") format("opentype");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat Thin Bold.woff") format("woff"), url("fonts/Montserrat Thin Bold.eot") format("embedded-opentype"), url("fonts/Montserrat Thin Bold.ttf") format("truetype"), url("fonts/Montserrat Thin Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat Thin Regular.woff") format("woff"), url("fonts/Montserrat Thin Regular.eot") format("embedded-opentype"), url("fonts/Montserrat Thin Regular.ttf") format("truetype"), url("fonts/Montserrat Thin Regular.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat Thin Medium.woff") format("woff"), url("fonts/Montserrat Thin Medium.eot") format("embedded-opentype"), url("fonts/Montserrat Thin Medium.ttf") format("truetype"), url("fonts/Montserrat Thin Medium.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat Thin Black.woff") format("woff"), url("fonts/Montserrat Thin Black.eot") format("embedded-opentype"), url("fonts/Montserrat Thin Black.ttf") format("truetype"), url("fonts/Montserrat Thin Black.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat Thin Light.woff") format("woff"), url("fonts/Montserrat Thin Light.eot") format("embedded-opentype"), url("fonts/Montserrat Thin Light.ttf") format("truetype"), url("fonts/Montserrat Thin Light.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat Thin ExtraLight.woff") format("woff"), url("fonts/Montserrat Thin ExtraLight.eot") format("embedded-opentype"), url("fonts/Montserrat Thin ExtraLight.ttf") format("truetype"), url("fonts/Montserrat Thin ExtraLight.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat Thin SemiBold.woff") format("woff"), url("fonts/Montserrat Thin SemiBold.eot") format("embedded-opentype"), url("fonts/Montserrat Thin SemiBold.ttf") format("truetype"), url("fonts/Montserrat Thin SemiBold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat Thin ExtraBold.woff") format("woff"), url("fonts/Montserrat Thin ExtraBold.eot") format("embedded-opentype"), url("fonts/Montserrat Thin ExtraBold.ttf") format("truetype"), url("fonts/Montserrat Thin ExtraBold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat Bold.woff") format("woff"), url("fonts/Montserrat Bold.eot") format("embedded-opentype"), url("fonts/Montserrat Bold.otf") format("opentype");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat-Bold.woff") format("woff"), url("fonts/Montserrat-Bold.eot") format("embedded-opentype"), url("fonts/Montserrat-Bold.ttf") format("truetype"), url("fonts/Montserrat-Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat.woff") format("woff"), url("fonts/Montserrat.eot") format("embedded-opentype"), url("fonts/Montserrat.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat-Regular.woff") format("woff"), url("fonts/Montserrat-Regular.eot") format("embedded-opentype"), url("fonts/Montserrat-Regular.ttf") format("truetype"), url("fonts/Montserrat-Regular.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat-Black.woff") format("woff"), url("fonts/Montserrat-Black.eot") format("embedded-opentype"), url("fonts/Montserrat-Black.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat-Light.woff") format("woff"), url("fonts/Montserrat-Light.eot") format("embedded-opentype"), url("fonts/Montserrat-Light.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald Bold.woff") format("woff"), url("fonts/Oswald Bold.eot") format("embedded-opentype"), url("fonts/Oswald Bold.ttf") format("truetype"), url("fonts/Oswald Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald BoldItalic.woff") format("woff"), url("fonts/Oswald BoldItalic.eot") format("embedded-opentype"), url("fonts/Oswald BoldItalic.ttf") format("truetype"), url("fonts/Oswald BoldItalic.svg") format("svg");
   font-weight: bold;
   font-style: italic;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald Demi-BoldItalic.woff") format("woff"), url("fonts/Oswald Demi-BoldItalic.eot") format("embedded-opentype"), url("fonts/Oswald Demi-BoldItalic.ttf") format("truetype"), url("fonts/Oswald Demi-BoldItalic.svg") format("svg");
   font-weight: bold;
   font-style: italic;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald DemiBold.woff") format("woff"), url("fonts/Oswald DemiBold.eot") format("embedded-opentype"), url("fonts/Oswald DemiBold.ttf") format("truetype"), url("fonts/Oswald DemiBold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald Extra-LightItalic.woff") format("woff"), url("fonts/Oswald Extra-LightItalic.eot") format("embedded-opentype"), url("fonts/Oswald Extra-LightItalic.ttf") format("truetype"), url("fonts/Oswald Extra-LightItalic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald ExtraLight.woff") format("woff"), url("fonts/Oswald ExtraLight.eot") format("embedded-opentype"), url("fonts/Oswald ExtraLight.ttf") format("truetype"), url("fonts/Oswald ExtraLight.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald Heavy.woff") format("woff"), url("fonts/Oswald Heavy.eot") format("embedded-opentype"), url("fonts/Oswald Heavy.ttf") format("truetype"), url("fonts/Oswald Heavy.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald HeavyItalic.woff") format("woff"), url("fonts/Oswald HeavyItalic.eot") format("embedded-opentype"), url("fonts/Oswald HeavyItalic.ttf") format("truetype"), url("fonts/Oswald HeavyItalic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald Light.woff") format("woff"), url("fonts/Oswald Light.eot") format("embedded-opentype"), url("fonts/Oswald Light.ttf") format("truetype"), url("fonts/Oswald Light.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald LightItalic.woff") format("woff"), url("fonts/Oswald LightItalic.eot") format("embedded-opentype"), url("fonts/Oswald LightItalic.ttf") format("truetype"), url("fonts/Oswald LightItalic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald Medium.woff") format("woff"), url("fonts/Oswald Medium.eot") format("embedded-opentype"), url("fonts/Oswald Medium.ttf") format("truetype"), url("fonts/Oswald Medium.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald MediumItalic.woff") format("woff"), url("fonts/Oswald MediumItalic.eot") format("embedded-opentype"), url("fonts/Oswald MediumItalic.ttf") format("truetype"), url("fonts/Oswald MediumItalic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald RegularItalic.woff") format("woff"), url("fonts/Oswald RegularItalic.eot") format("embedded-opentype"), url("fonts/Oswald RegularItalic.ttf") format("truetype"), url("fonts/Oswald RegularItalic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald-Bold.woff") format("woff"), url("fonts/Oswald-Bold.eot") format("embedded-opentype"), url("fonts/Oswald-Bold.ttf") format("truetype"), url("fonts/Oswald-Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald-DemiBold.woff") format("woff"), url("fonts/Oswald-DemiBold.eot") format("embedded-opentype"), url("fonts/Oswald-DemiBold.ttf") format("truetype"), url("fonts/Oswald-DemiBold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald-ExtraLight.woff") format("woff"), url("fonts/Oswald-ExtraLight.eot") format("embedded-opentype"), url("fonts/Oswald-ExtraLight.ttf") format("truetype"), url("fonts/Oswald-ExtraLight.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald-Heavy.woff") format("woff"), url("fonts/Oswald-Heavy.eot") format("embedded-opentype"), url("fonts/Oswald-Heavy.ttf") format("truetype"), url("fonts/Oswald-Heavy.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald-Light.woff") format("woff"), url("fonts/Oswald-Light.eot") format("embedded-opentype"), url("fonts/Oswald-Light.ttf") format("truetype"), url("fonts/Oswald-Light.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald-Medium.woff") format("woff"), url("fonts/Oswald-Medium.eot") format("embedded-opentype"), url("fonts/Oswald-Medium.ttf") format("truetype"), url("fonts/Oswald-Medium.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald-Regular.woff") format("woff"), url("fonts/Oswald-Regular.eot") format("embedded-opentype"), url("fonts/Oswald-Regular.ttf") format("truetype"), url("fonts/Oswald-Regular.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald-Demi-BoldItalic.woff") format("woff"), url("fonts/Oswald-Demi-BoldItalic.eot") format("embedded-opentype"), url("fonts/Oswald-Demi-BoldItalic.ttf") format("truetype"), url("fonts/Oswald-Demi-BoldItalic.svg") format("svg");
   font-weight: bold;
   font-style: italic;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald-BoldItalic.woff") format("woff"), url("fonts/Oswald-BoldItalic.eot") format("embedded-opentype"), url("fonts/Oswald-BoldItalic.ttf") format("truetype"), url("fonts/Oswald-BoldItalic.svg") format("svg");
   font-weight: bold;
   font-style: italic;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald-MediumItalic.woff") format("woff"), url("fonts/Oswald-MediumItalic.eot") format("embedded-opentype"), url("fonts/Oswald-MediumItalic.ttf") format("truetype"), url("fonts/Oswald-MediumItalic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald-RegularItalic.woff") format("woff"), url("fonts/Oswald-RegularItalic.eot") format("embedded-opentype"), url("fonts/Oswald-RegularItalic.ttf") format("truetype"), url("fonts/Oswald-RegularItalic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald-Extra-LightItalic.woff") format("woff"), url("fonts/Oswald-Extra-LightItalic.eot") format("embedded-opentype"), url("fonts/Oswald-Extra-LightItalic.ttf") format("truetype"), url("fonts/Oswald-Extra-LightItalic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald-HeavyItalic.woff") format("woff"), url("fonts/Oswald-HeavyItalic.eot") format("embedded-opentype"), url("fonts/Oswald-HeavyItalic.ttf") format("truetype"), url("fonts/Oswald-HeavyItalic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald-LightItalic.woff") format("woff"), url("fonts/Oswald-LightItalic.eot") format("embedded-opentype"), url("fonts/Oswald-LightItalic.ttf") format("truetype"), url("fonts/Oswald-LightItalic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Abolition";
   src: url("fonts/Abolition Soft Oblique.woff") format("woff"), url("fonts/Abolition Soft Oblique.eot") format("embedded-opentype"), url("fonts/Abolition Soft Oblique.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Abolition";
   src: url("fonts/Abolition Oblique.woff") format("woff"), url("fonts/Abolition Oblique.eot") format("embedded-opentype"), url("fonts/Abolition Oblique.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Abolition";
   src: url("fonts/Abolition Soft.woff") format("woff"), url("fonts/Abolition Soft.eot") format("embedded-opentype"), url("fonts/Abolition Soft.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Abolition";
   src: url("fonts/Abolition.woff") format("woff"), url("fonts/Abolition.eot") format("embedded-opentype"), url("fonts/Abolition.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}